<div class="container">
    <div ng-controller="MainCtrl as main">
        <p>{{main.test}}</p>
        <label for="taskSelect">Valitse tehtävä:</label>
        <select name="taskSelect" id="taskSelect" ng-change="main.generateCalculations()"
                ng-options="option.name for option in main.data.availableOptions track by option.id"
                ng-model="main.data.selectedOption"></select>
        <hr>
        <!--        Selected task is consructed here        -->
        <table width="40%">
            <thead>
                <tr>
                    <th class="firstcol">Laskutehtävä</th>
                    <th></th>
                    <th>Vastaus</th>
                </tr>
            </thead>
            <tr ng-repeat="task in main.data.generatedCalculations">
                <td class="firstcol">
                    {{task.question}}
                </td>
                <td class="centercol">=</td>
                <td>
                    <input class="answer" type="text" name="answer" maxlength="6" size="6" ng-model="task.userInput" ng-model-options="{ debounce: 1500 }" ng-change="main.checkAnswer(task.userInput, $index)">
                </td>
                <td><span class="glyphicon glyphicon-answer" ng-class="task.statusIcon"></span>
                </td>
            </tr>
        </table>
        <hr>
        <button id="newButton" ng-click="main.generateCalculations()">Uusi tehtävä!</button>
        <br>
    </div>
</div>

